@media screen and (max-width: 991px) {
   .container {
      padding: 0 40px;
   }

   .catalog__content,
   .catalog__content_active {

      justify-content: space-evenly;
   }

   .feed {
      &__content {
         flex-direction: column;
         align-items: center;
         // width: 100%;

         div {
            text-align: center;
         }
      }
   }
}

@media screen and (max-width: 767px) {
   .header {
      &__logo {
         width: 150px;
      }

      &__official {
         font-size: 12px;

         span {
            font-size: 12px;
         }
      }

      &__phone {
         font-size: 15px;
      }
   }

   .button {
      width: 130px;
   }

   .promo {
      background: url(../../img/bg1_859.jpg) left center/cover no-repeat;

      &__header {
         font-size: 35px;
      }

      &__subheader {
         font-size: 20px;
      }

      &__wrapper {
         text-align: center;
         align-items: center;
      }
   }

   .button_main {
      width: 150px;
      font-size: 14px;
   }

   .title {
      font-size: 30px;
   }

   .priority {
      &__icon {
         font-size: 15px;
         width: 150px;

         span {
            font-size: 12px;
         }

      }
   }

   .button_submit {
      width: 150px;
   }

   .slick-dots {
      display: flex; // поставить кнопки в ряд
      justify-content: center; // выровнять по центру
      align-items: center;
      padding: 0;

      li {
         list-style: none; // убираем черные маркеры
         margin: 0 10px;
      }

      button {
         font-size: 0;
         background: #000; // цвет фона
         border: none; // без рамки
         border-radius: 50%; // радиус закругления
         height: 15px; // высота точки
         width: 15px; // ширина точки
         outline: none; // убираем обводку
      }

      li[class="slick-active"] button {
         background: transparent;
         border: 1px solid #000;

      }
   }

   .feed__content>div {
      width: 100%;
      padding: 0 10px;
   }


}

@media screen and (max-width: 575px) {
   .container {
      padding: 0 5px;
   }

   .title {
      font-size: 28px;
   }

   .header {
      flex-direction: column;

      &__logo {
         width: 250px;
      }

      &__official {
         margin-top: 10px;
      }

      &__contacts {
         margin-top: 20px;
      }

      &__phone {
         font-size: 20px;
      }

      .button {
         width: 185px;
      }
   }

   .promo {
      &__icons {
         width: 100%;
      }
   }

   .catalog {
      &__tabs {
         flex-direction: column;
      }


   }

   .footer {
      &__info {

         width: 320px;
         padding: 30px !important
      }
   }

   .modal {
      width: 270px;
      padding: 10px !important;
   }

   .feed-form_mt25>input {
      width: 250px;

   }
}